ውስጥ	in the
አመፅ	rebelling
እየዘለለ	lengths
ሰበታ	Sebeta
ረሃብ	starvation
ታደነ	hunted
ታሪካዊነቱ	historical
ማሰባሰብ	Collection
በኢራቅና	Iraq
ከልምድ	experience
ያላቸው	had
የአእምሮ	brains
ወደሞት	an
ከስልጣን	down from power
እውነትም	truth is
ይቃለላል	be
ይኼን	bring
አዛመደ	brought together
ለውጡ	the change
ሃገርንና	nation
